<div class="row">
  <div class="col">
    <h2 class="h2">My teams</h2>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <a href="#">Los Locos</a>
          <small class="text-muted">5th round</small>
        </span>
        <span>Avatar</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <a href="#">Team ABCDEF</a>
          <small class="text-muted">3rd round</small>
        </span>
        <span>Eternal Sunshine of the Spotless Mind</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <a href="#">Mal Nenhum</a>
          <small class="text-muted">10th round</small>
        </span>
        <span>Fight Club</span>
      </li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2 class="h5">Pending invitations</h2>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Team 1<br/><small class="text-muted">3 days ago</small></span>
        <div class="">
          <span><button class="btn btn-success btn-sm">Accept</button></span>
          <span><button class="btn btn-danger btn-sm">Decline</button></span>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Team 2<br/><small class="text-muted">3 days ago</small></span>
        <div class="">
          <span><button class="btn btn-success btn-sm">Accept</button></span>
          <span><button class="btn btn-danger btn-sm">Decline</button></span>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Team 3<br/><small class="text-muted">3 days ago</small></span>
        <div class="">
          <span><button class="btn btn-success btn-sm">Accept</button></span>
          <span><button class="btn btn-danger btn-sm">Decline</button></span>
        </div>
      </li>
    </ul>
  </div>
</div>
