<div class="col-8 mx-auto mt-5">
  <h1 class="display-4">Cineclub</h1>
  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet eveniet enim aut expedita fugiat praesentium
  deleniti delectus possimus?</p>
  <p class="lead">Ducimus eveniet dolores, unde dignissimos!</p>
  <%= link_to 'Join us', sign_up_path, { class: 'btn btn-primary' } %>
</div>
